body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* h1 ,h2 ,h4 ,h3 ,h5 ,h6{
  font-family: 'Montserrat';
} */

/* h3 {
  font-family: 'Montserrat-bold', sans-serif;
} */

p {
  color: #8f8f8f;
}



.big-heading {
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: 900;
}

/* Container Section */
.container-fluid {
  padding: 7% 15%;
}

/* sections */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}
/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.nav-item {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat-light";
  font-weight: lighter;
}

/* Downloaad Buttons */
.download-button {
  margin: 5% 3% 5% 0;
  font-size: 1.25rem;
}
/* Title Section */
#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}
/* Title Image */
.title-img {
  width: 20%;
  right: 24%;
  transform: rotate(25deg);
  position: absolute;
}

/* Features */
#features {
  position: relative;
}

.feature-box {
  padding: 4.5%;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 900;
}
/* Font Awesome Icons */

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  background-color:#ef8172;
}

.testimonials-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


.testimonial-text {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}
/* Press */
#press {
  background-color:#ef8172;
  padding: 0 0 3% 0;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing{
  padding: 100px;
}
.pricing-text {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}
.pricing-column {
  padding: 3% 2%;
}
.pricing-pack {
  font-size: 1.5rem;
  font-weight: 900;
}
@media (max-width:1024px) {
  #title {
    text-align: center;
  }

  .title-img{
    position: static;
    transform: rotate(0);
    width: 60%;
    }
}

/* Call to action */

/* Footer */

a{
  text-decoration: none;
  color:#000000;
}

.spanSpace {
  padding: 3%;
}

.copyright{
  margin-top:3%;
}
